
body {
	display: block;
	background-color:  #2F4F4F;
}



.konten {

	margin-top: 70px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
	background-color: #FFF;
	border-radius: 12px;
	margin-bottom: 100px;

}

.konten h1 {

	text-align: center;
	margin-top: 30px;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.konten p {
	margin-left: 30px;
	font-size: 18px;
}

.konten ol {
	margin-left: 40px;
	font-size: 16px;
}

.konten .daftar {

	
	box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	width: 200px;
	margin-top: 30px;
}

.form-daftar {
	margin: 30px 30px;
}

input {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
select {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
label {
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}